@import '~bootstrap/dist/css/bootstrap.css';
body {
background-color: rgb(235, 197, 235);
background-image:url("../images/tm2.jpg"); 
}
.top{
  /* background-image:url("../images/purple div.jpg"); ;
 border: 5px outset purple; */
 width: 1340px;
 height: 100px;
 
  /* background-color: rgb(235 ,197, 235);     */
  text-align: center;
  /* font-size: 100x; */
font-family: Georgia, 'Times New Roman', Times, serif	;}
 /* h1{
  text-align: center;
  font-size: 70px;
  font-style: initial;
  /* display: inline; */
  
}  
 h2{
  font-size: 10px;
} 
.tophead{
  text-align: center;
  font-size: 70px;
  font-style: initial;
  /* display: inline; */
  
}
.head{
  text-align: center;
  font-size: 70px;
  font-style: initial;
  /* display: inline; */
  background: white;
}
h4{
  text-align: center;
  font-style: inherit;
  font-size: 30px;
}

.button {
  align-items: center;
  justify-items: center;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.centerbutton
{
  justify-items: center;
  align-items: center;
  text-align: center;
}
button:hover {
  background-color:rgb(59, 3, 59);
  color: white;
}
.Sign-up {
  position: absolute;
  
  background-color: black; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Sign-up:hover {
  background-color:rgb(59, 3, 59);
  color: white;
} 
